.card{
    width: 60vw;
    height: fit-content;
    background-color: #00ff6a1e;
    padding: 10px 20px;
    margin: auto;
    color: black;
    font-weight: 800;
    border-radius: 20px;
    overflow: hidden;
    
}

.card-content{
    display: flex;
    gap: 10px;
}

.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .card {
      width: 80vw;
    }
    .content-section{
        flex-direction: column;
    }
  }